@charset "UTF-8";
/*常规css*/
.row {
  margin: 0; }

.login-div {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 10px #e4e4e4;
  -moz-box-shadow: 0 0 10px #e4e4e4;
  -ms-box-shadow: 0 0 10px #e4e4e4;
  -o-box-shadow: 0 0 10px #e4e4e4;
  box-shadow: 0 0 10px #e4e4e4;
  margin-bottom: 20px;
  margin-top: 120px; }

.errorMessage {
  color: red; }

.form-control, .dropdown-menu, .btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important; }
