@mixin vendor($property, $value) {
  	-webkit-#{$property}: $value;
  	-moz-#{$property}: $value;
  	-ms-#{$property}: $value;
  	-o-#{$property}: $value;
  	#{$property}: $value;
}

body {
    background: #eeeeee url('../images/paper.jpg');
}


/*重写bootstrap css*/
.form-control, .dropdown-menu, .btn {
    border-radius: 0 !important;
}

/*普通的CSS*/
section {
    box-align: stretch;
    box-direction: reverse;
    box-orient: vertical;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: 320px;
}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {
    @include vendor(box-shadow, inset 0 0 3px rgba(0, 0, 0, 0.3));
    @include vendor(border-radius, 10px);
}
::-webkit-scrollbar-thumb {
    @include vendor(border-radius, 10px);
    background-color: #A2A3A1;
    @include vendor(box-shadow, inset 0 0 3px rgba(0, 0, 0, 0.5));
}
.ajax_loader{display: none;}
hr{border-top: 2px solid #ddd;}
li{list-style-type: none;}
.social_action{
    border: 1px solid #ddd;
    @include vendor(box-shadow,0px 0px 10px #ddd);
    padding: 5px 10px;

    a{
        color: black;
        padding: 4px 6px;
    }
    a:hover{
        text-decoration: none;
    }
}
.holdertop{
   top: 68px !important;
}
.social_feeds_tabs {
    margin: 0 3px;
    padding-left: 0;
    border-bottom:1px solid #ddd;

    .social_menu_tabs {
        float: left;
        padding: 6px 10px;
        border: 1px solid #ddd;
        border-top:0;
        border-bottom:0;
        cursor: pointer;
        color: black;
        background-color: #fff
        ;margin-right: 1px;
    }

    .currentTabSelected{
        color: #fff;background-color: #3276b1;
    }
 }
 .more_data{
    margin: 0 5px 20px;
    @include vendor(box-shadow,0px 0px 5px #ccc);
    button{
        width: 100%;
        font-size: 13px;
    }
 }
 .social_action_msg{
        margin-top: 10px;
        display: none;
 }
.action_info{
    color:red;
    margin-top: 10px;
    display: none;
}
time{color: rgb(28, 110, 156)}


/*view tab*/
#tabview{
    display: block;
    padding: 0;
    position: relative;
    width: 100%;

    .change_view_button{
        display: inline-block;
        padding: 6px 20px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #ddd;
        background-color: #fff;
        color: #333;
        border-left: none;
        float: left;
    }

    .view_active {
        color: #333333;
        background-color: #ebebeb;
    }

    .view_operate{
        margin-left:-4px;

        .add_view {
            display: inline-block;
            padding: 6px 20px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid #ddd;
            background-color: #fff;
            color: #333;
            margin-left: 4px;
            border-left: none;
        }

        .view_container {
            top: 23px !important;
            padding: 15px !important;
            width: 240px;
        }
    }
    
}

/*齿轮gear*/
.column_configuration_dropdown{
    font-size: 18px;
    margin-right: 5px;

    .column_configuration_a{
        color: #fff;

        :hover,:focus{
            color: #ccc;
        }
    }
    .dropdown-menu{
        width: auto;
        min-width: 40px;
    }
}

/*column内容区域*/
#scrollable_columns{
    position: absolute;
    top: 106px;
    left: 362px;
    bottom: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;

    #page_wrap{
        box-sizing: border-box;
        height: 100%;
        min-width: 1024px;
        overflow: visible;
        padding: 0px;
        white-space: nowrap;

        #vertical_sidebar{
            width: 362px;
            position: fixed;
            top: 106px;
            left: 0px;
            z-index: 2;

            .siderbar_nav {
                width: 42px;
                height: 100%;
                position: absolute;
                left: 0px;
            }

            .siderbar_content {
                width: 320px;
                height: 100%;
                position: absolute;
                right: 0px;
                border: 1px solid #ddd;
            }

            #navigation_tab{
                li {
                    width: 100%;
                    margin-bottom: 0;
                }

                a{
                    border-radius: 0;
                    border: none;
                    border-top: 1px solid #ddd;
                    margin-right: 0;
                    height: 40px;
                }

                .social_icons {
                    background-image: url("../images/socialsprites.png");
                    background-repeat: no-repeat;
                    transition: all 0.3s ease;
                }

                .rss{
                    a{background-position: 0 -1200px;}
                    a:hover{background-position: 0 -1240px;margin-left: 1px;}
                }
                .rss.active{
                    a{background-position: 0 -1240px;margin-left: 1px;}
                }

                .instagram{
                    a{background-position: 0 -2240px;}
                    a:hover{background-position: 0 -2280px;margin-left: 1px;}
                }
                .instagram.active{
                    a{background-position: 0 -2280px;margin-left: 1px;}
                }

                .pinterest{
                    a{background-position: 0 -1040px;}
                    a:hover{background-position: 0 -1080px;margin-left: 1px;}
                }
                .pinterest.active{
                    a{background-position: 0 -1080px;margin-left: 1px;}
                }

                .flickr{
                    a{background-position: 0 -240px;}
                    a:hover{background-position: 0 -280px;margin-left: 1px;}
                }
                .flickr.active{
                    a{background-position: 0 -280px;margin-left: 1px;}
                }

                .linkedin{
                    a{background-position: 0 -720px;}
                    a:hover{background-position: 0 -760px;margin-left: 1px;}
                }
                .linkedin.active{
                    a{background-position: 0 -760px;margin-left: 1px;}
                }

                .reddit{
                    a{background-position: 0 -1120px;}
                    a:hover{background-position: 0 -1160px;margin-left: 1px;}
                }
                .reddit.active{
                    a{background-position: 0 -1160px;margin-left: 1px;}
                }

                .renren{
                    a{background-position: -41px 0;}
                    a:hover{background-position: -41px -41px;margin-left: 1px;}
                }
                .renren.active{
                    a{background-position: -41px -41px;margin-left: 1px;}
                }

                .weibo{
                    a{background-position: -41px -82px;}
                    a:hover{background-position: -41px -123px;margin-left: 1px;}
                }
                .weibo.active{
                   a{background-position: -41px -123px;margin-left: 1px;} 
                }

                .video56{
                    a{background-position: -41px -246px;}
                    a:hover{background-position: -41px -287px;margin-left: 1px;}
                }
                .video56.active{
                    a{background-position: -41px -287px;margin-left: 1px;}
                }

                .youku{
                    a{background-position: -41px -328px;}
                    a:hover{background-position: -41px -369px;margin-left: 1px;}
                }
                .youku.active{
                    a{background-position: -41px -369px;margin-left: 1px;}
                }
            }
        }

        .insert_columns {
            display: inline-block;
            font-size: 13px;
            height: 100%;
            overflow: hidden;
            position: relative;
            vertical-align: top;
            white-space: normal;
            box-orient: vertical;
            border: 1px solid #ddd;
        }

        .column_title{
            background-color: #61b23c;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#A2A3A1), to(#585857));
            background-image: -webkit-linear-gradient(top, #A2A3A1, #585857);
            background-image: -moz-linear-gradient(top, #A2A3A1, #585857);
            background-image: -o-linear-gradient(top, #A2A3A1, #585857);
            background-image: -ms-linear-gradient(top, #A2A3A1, #585857);
            background-image: linear-gradient(top, #A2A3A1, #585857);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#A2A3A1', EndColorStr='#585857');
            height: 34px;
            line-height: 32px;
            color: #fff;
            font-weight: 300;
            border-right: 1px solid #ddd;
        }

        .column_container_wrap{
            position: absolute;
            bottom: 0;
            top: 35px;
            left: 0;
            width: 100%;
            background-color: #fff;

            .column_container{
                bottom: 0;
                overflow-y: auto;
                overflow-x: hidden;
                position: absolute;
                top: 0px;
                width: 99%;
                padding: 10px;
            }
        }
    }
}

.button_div{
    margin-top: 10px;
}

/*Instagram CSS*/
.social_wrap_div{padding: 15px;}
.social_wrap_div .select_div{margin-bottom: 10px;}
.form-control.social_select{display: inline-block;}
.instagram_wrap{
    padding: 5px;
    margin: 0 5px 0px;

    .author {
        margin-bottom: 2px; 
    }

    .img ,.author{
        img{
            @include vendor(box-shadow,0px 0px 5px black);
            border: 1px solid #ddd;
        }
    }

    .caption,.instagram_likes {
        margin-top: 5px;
        border-bottom: none;
        word-break: break-all; 
        time{
            float: right; 
        }
    }

    .instagram_comments{
        border-bottom: 1px solid #ddd;
        margin-bottom: 25px;
        
        .comment_wrap {
            border-top: 1px solid #ddd;
            border-bottom: none;
            padding: 10px 5px; 
            a{
                text-decoration: none; 
            }
            a:hover{
                text-decoration: none; 
            }
        }   
    }

    .write_instagram_comments {
        display: none;
        margin-bottom: 20px;
    }
}
/*END Instagram CSS*/


/*Pinterest Css*/
.pinterest_account_div{
    h4{
        font-size: 16px;
    }
    .pinterest_username{
        margin-bottom: 10px;
    }
}

.pinterest_info{
    padding: 5px;
    margin: 0 5px 0px;

    h4{
        font-size: 14px;
        margin-top: 0;
    }

    img{
        @include vendor(box-shadow,0px 0px 5px black);
        border: 1px solid #ddd;
    }
}
/*End Pinterest CSS*/

/*Flickr CSS*/
.flickr_wrap{
    padding: 5px;
    margin: 0 5px 0px;

    .photo_name{
        margin-top: 5px;
    }

    .flickr_img{
        @include vendor(box-shadow,0px 0px 5px black);
        border: 1px solid #ddd;
    }

    .write_flickr_comment{
        display: none;
    }
}
/*END Flickr CSS*/
