@charset "UTF-8";
body {
  background: #eeeeee url("../images/paper.jpg"); }

/*重写bootstrap css*/
.form-control, .dropdown-menu, .btn {
  border-radius: 0 !important; }

.navbar-default {
  background-color: #fff; }

/*普通的CSS*/
section {
  box-align: stretch;
  box-direction: reverse;
  box-orient: vertical;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  white-space: normal;
  width: 320px; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #A2A3A1;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); }

.ajax_loader {
  display: none; }

hr {
  border-top: 2px solid #ddd; }

li {
  list-style-type: none; }

.social_action {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 10px #dddddd;
  -moz-box-shadow: 0px 0px 10px #dddddd;
  -ms-box-shadow: 0px 0px 10px #dddddd;
  -o-box-shadow: 0px 0px 10px #dddddd;
  box-shadow: 0px 0px 10px #dddddd;
  padding: 5px 10px; }
  .social_action a {
    color: black;
    padding: 4px 6px; }
  .social_action a:hover {
    text-decoration: none; }

.holdertop {
  top: 68px !important; }

.social_feeds_tabs {
  margin: 0 3px;
  padding-left: 0;
  border-bottom: 1px solid #ddd; }
  .social_feeds_tabs .social_menu_tabs {
    float: left;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    color: black;
    background-color: white;
    margin-right: 1px; }
  .social_feeds_tabs .currentTabSelected {
    color: #fff;
    background-color: #3276b1; }

.more_data {
  margin: 0 5px 20px;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  -ms-box-shadow: 0px 0px 5px #cccccc;
  -o-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc; }
  .more_data button {
    width: 100%;
    font-size: 13px; }

.social_action_msg {
  margin-top: 10px;
  display: none; }

.action_info {
  color: red;
  margin-top: 10px;
  display: none; }

time {
  color: #1c6e9c; }

/*view tab*/
#tabview {
  display: block;
  padding: 0;
  position: relative;
  width: 100%; }
  #tabview .change_view_button {
    display: inline-block;
    padding: 6px 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    border-left: none;
    float: left; }
  #tabview .view_active {
    color: #333333;
    background-color: #ebebeb; }
  #tabview .view_operate {
    margin-left: -4px; }
    #tabview .view_operate .add_view {
      display: inline-block;
      padding: 6px 20px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #ddd;
      background-color: #fff;
      color: #333;
      margin-left: 4px;
      border-left: none; }
    #tabview .view_operate .view_container {
      top: 23px !important;
      padding: 15px !important;
      width: 240px; }

/*齿轮gear*/
.column_configuration_dropdown {
  font-size: 18px;
  margin-right: 5px; }
  .column_configuration_dropdown .column_configuration_a {
    color: #fff; }
    .column_configuration_dropdown .column_configuration_a :hover, .column_configuration_dropdown .column_configuration_a :focus {
      color: #ccc; }
  .column_configuration_dropdown .dropdown-menu {
    width: auto;
    min-width: 40px; }

/*column内容区域*/
#scrollable_columns {
  position: absolute;
  top: 106px;
  left: 462px;
  bottom: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden; }
  #scrollable_columns #page_wrap {
    box-sizing: border-box;
    height: 100%;
    min-width: 1024px;
    overflow: visible;
    padding: 0px;
    white-space: nowrap; }
    #scrollable_columns #page_wrap #vertical_sidebar {
      width: 462px;
      position: fixed;
      top: 106px;
      left: 0px;
      z-index: 2; }
      #scrollable_columns #page_wrap #vertical_sidebar .siderbar_nav {
        width: 42px;
        height: 100%;
        position: absolute;
        left: 0px; }
      #scrollable_columns #page_wrap #vertical_sidebar .siderbar_content {
        width: 420px;
        height: 100%;
        position: absolute;
        right: 0px;
        border: 1px solid #ddd; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab li {
        width: 100%;
        margin-bottom: 0; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab a {
        border-radius: 0;
        border: none;
        border-top: 1px solid #ddd;
        margin-right: 0;
        height: 40px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .expand_post {
        font-size: 26px;
        margin: 6px 8px;
        cursor: pointer;
        display: none; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .social_icons {
        background-image: url("../images/socialsprites.png");
        background-repeat: no-repeat;
        transition: all 0.3s ease; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .post a {
        background-position: -41px -410px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .post a:hover {
        background-position: -41px -451px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .post.active a {
        background-position: -41px -451px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .rss a {
        background-position: 0 -1200px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .rss a:hover {
        background-position: 0 -1240px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .rss.active a {
        background-position: 0 -1240px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .instagram a {
        background-position: 0 -2240px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .instagram a:hover {
        background-position: 0 -2280px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .instagram.active a {
        background-position: 0 -2280px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .pinterest a {
        background-position: 0 -1040px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .pinterest a:hover {
        background-position: 0 -1080px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .pinterest.active a {
        background-position: 0 -1080px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .flickr a {
        background-position: 0 -240px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .flickr a:hover {
        background-position: 0 -280px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .flickr.active a {
        background-position: 0 -280px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .linkedin a {
        background-position: 0 -720px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .linkedin a:hover {
        background-position: 0 -760px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .linkedin.active a {
        background-position: 0 -760px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .reddit a {
        background-position: 0 -1120px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .reddit a:hover {
        background-position: 0 -1160px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .reddit.active a {
        background-position: 0 -1160px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .renren a {
        background-position: -41px 0; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .renren a:hover {
        background-position: -41px -41px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .renren.active a {
        background-position: -41px -41px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .weibo a {
        background-position: -41px -82px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .weibo a:hover {
        background-position: -41px -123px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .weibo.active a {
        background-position: -41px -123px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .video56 a {
        background-position: -41px -246px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .video56 a:hover {
        background-position: -41px -287px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .video56.active a {
        background-position: -41px -287px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .youku a {
        background-position: -41px -328px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .youku a:hover {
        background-position: -41px -369px;
        margin-left: 1px; }
      #scrollable_columns #page_wrap #vertical_sidebar #navigation_tab .youku.active a {
        background-position: -41px -369px;
        margin-left: 1px; }
    #scrollable_columns #page_wrap .insert_columns {
      display: inline-block;
      font-size: 13px;
      height: 100%;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      white-space: normal;
      box-orient: vertical;
      border: 1px solid #ddd; }
    #scrollable_columns #page_wrap .column_title {
      background-color: #61b23c;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a3a1), to(#585857));
      background-image: -webkit-linear-gradient(top, #a2a3a1, #585857);
      background-image: -moz-linear-gradient(top, #a2a3a1, #585857);
      background-image: -o-linear-gradient(top, #a2a3a1, #585857);
      background-image: -ms-linear-gradient(top, #a2a3a1, #585857);
      background-image: linear-gradient(top, #a2a3a1, #585857);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#A2A3A1', EndColorStr='#585857');
      height: 34px;
      line-height: 32px;
      color: #fff;
      font-weight: 300;
      border-right: 1px solid #ddd; }
    #scrollable_columns #page_wrap .column_container_wrap {
      position: absolute;
      bottom: 0;
      top: 35px;
      left: 0;
      width: 100%;
      background-color: #fff; }
      #scrollable_columns #page_wrap .column_container_wrap .column_container {
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 0px;
        width: 99%;
        padding: 10px;
        word-break: break-all; }

.button_div {
  margin-top: 10px; }

/*Rss CSS*/
.rss_feed_name, .rss_feed_url {
  margin-bottom: 10px; }

.rss_content {
  margin-bottom: 10px; }

.rss_recommend_wrap h4 {
  font-size: 16px; }
.rss_recommend_wrap .rss_add_to_column {
  font-size: 12px;
  margin-bottom: 3px; }
.rss_recommend_wrap .rss_recommend_content {
  height: 400px;
  overflow-y: auto; }

/*END Rss CSS*/
/*Instagram CSS*/
.social_wrap_div {
  padding: 15px; }

.social_wrap_div .select_div {
  margin-bottom: 10px; }

.form-control.social_select {
  display: inline-block; }

.instagram_wrap {
  padding: 5px;
  margin: 0 5px 0px; }
  .instagram_wrap .author {
    margin-bottom: 2px; }
  .instagram_wrap .img img, .instagram_wrap .author img {
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -ms-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    border: 1px solid #ddd; }
  .instagram_wrap .caption, .instagram_wrap .instagram_likes {
    margin-top: 5px;
    border-bottom: none;
    word-break: break-all; }
    .instagram_wrap .caption time, .instagram_wrap .instagram_likes time {
      float: right; }
  .instagram_wrap .instagram_comments {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px; }
    .instagram_wrap .instagram_comments .comment_wrap {
      border-top: 1px solid #ddd;
      border-bottom: none;
      padding: 10px 5px; }
      .instagram_wrap .instagram_comments .comment_wrap a {
        text-decoration: none; }
      .instagram_wrap .instagram_comments .comment_wrap a:hover {
        text-decoration: none; }
  .instagram_wrap .write_instagram_comments {
    display: none;
    margin-bottom: 20px; }

/*END Instagram CSS*/
/*Pinterest Css*/
.pinterest_account_div h4 {
  font-size: 16px; }
.pinterest_account_div .pinterest_username {
  margin-bottom: 10px; }

.pinterest_info {
  padding: 5px;
  margin: 0 5px 0px; }
  .pinterest_info h4 {
    font-size: 14px;
    margin-top: 0; }
  .pinterest_info img {
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -ms-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    border: 1px solid #ddd; }

/*End Pinterest CSS*/
/*Flickr CSS*/
.flickr_wrap {
  padding: 5px;
  margin: 0 5px 0px; }
  .flickr_wrap .photo_name {
    margin-top: 5px; }
  .flickr_wrap .flickr_img {
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -ms-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    border: 1px solid #ddd; }
  .flickr_wrap .write_flickr_comment {
    display: none;
    margin: 10px 0; }

/*END Flickr CSS*/
/*Linkedin CSS*/
.linkedin_wrap {
  padding: 5px;
  margin: 0 5px 0px; }
  .linkedin_wrap .description img {
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    -ms-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    border: 1px solid #ddd;
    margin: 5px 0px; }
  .linkedin_wrap .description {
    margin: 5px 0; }

/*END Linkedin CSS*/
/*Reddit CSS*/
.reddit_wrap {
  padding: 5px;
  margin: 0 5px 0px;
  word-break: break-all; }
  .reddit_wrap .content a {
    font-size: 13px;
    margin-top: 0; }
  .reddit_wrap .content .reddit_domain a {
    color: #999;
    font-size: 12px; }
  .reddit_wrap .write_reddit_comments {
    margin-bottom: 10px; }
  .reddit_wrap time {
    margin: 10px 0; }
  .reddit_wrap .img {
    float: left;
    margin-right: 5px; }
    .reddit_wrap .img img {
      -webkit-box-shadow: 0px 0px 5px black;
      -moz-box-shadow: 0px 0px 5px black;
      -ms-box-shadow: 0px 0px 5px black;
      -o-box-shadow: 0px 0px 5px black;
      box-shadow: 0px 0px 5px black;
      border: 1px solid #ddd;
      margin: 5px 0px; }

/*END Reddit CSS*/
/*RENREN CSS*/
.renren_wrap time {
  margin: 10px 0px; }
.renren_wrap img {
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  -ms-box-shadow: 0px 0px 5px black;
  -o-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #ddd; }
.renren_wrap .comment_wrap_div {
  margin-bottom: 20px;
  border-top: 1px solid #ddd; }
  .renren_wrap .comment_wrap_div .comment_wrap {
    border-bottom: 1px solid #ddd;
    padding: 10px 0; }
    .renren_wrap .comment_wrap_div .comment_wrap time {
      float: right;
      margin: 0px; }
    .renren_wrap .comment_wrap_div .comment_wrap img {
      width: 40px;
      height: 40px; }
.renren_wrap .write_renren_comment {
  margin-bottom: 10px; }

/*END　RENREN CSS*/
/*Weibo CSS*/
.weibo_wrap img {
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  -ms-box-shadow: 0px 0px 5px black;
  -o-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #ddd;
  margin: 5px 0px; }
.weibo_wrap time {
  margin: 10px 0; }
.weibo_wrap .retweeted_wrap {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 5px 5px;
  font-size: 13px;
  margin-bottom: 10px; }
.weibo_wrap .write_weibo_comment, .weibo_wrap .write-weibo-repost {
  margin-bottom: 10px; }

/*END Weibo CSS*/
/*Video56 CSS*/
.video56_wrap .video {
  height: 250px; }
.video56_wrap .tag {
  margin-top: 10px; }

/*END Video56 CSS*/
.post-type {
  border-bottom: 3px solid #47a447;
  padding-bottom: 10px; }
  .post-type a:hover, .post-type a:focus {
    background-color: transparent !important; }
  .post-type .post-type-clicked {
    background-image: url("../images/checked.png");
    background-repeat: no-repeat;
    background-position: 95%; }

#post .column_container_wrap {
  background-color: transparent !important;
  padding: 0 !important; }
  #post .column_container_wrap .column_container {
    padding: 10px 0 120px 0 !important; }
#post .remove-post-feed {
  cursor: pointer; }
#post .post-type {
  padding: 0 5px 10px; }
#post .post-body .post-wrap {
  padding: 10px 5px 20px;
  border-bottom: 3px solid #47a447; }
#post .post-body .removed-post-feed {
  display: none !important; }
#post .post-body .media {
  background: white;
  display: block;
  height: auto;
  position: relative;
  padding: 4px;
  line-height: 18px;
  color: #555;
  border: 1px solid #ddd;
  margin: 10px 1px 0;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  -ms-box-shadow: 0px 0px 5px #cccccc;
  -o-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc; }
  #post .post-body .media .media-heading {
    font-size: 12px;
    margin-top: 5px; }
  #post .post-body .media .media-content {
    font-size: 12px;
    margin-top: 10px; }
  #post .post-body .media .media-object {
    border: 1px solid #dfdfdf;
    width: 88px;
    height: 58px; }
#post .publish-post-info {
  position: fixed;
  top: 145px;
  left: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -5px 5px 10px #9abfe6;
  -moz-box-shadow: -5px 5px 10px #9abfe6;
  -ms-box-shadow: -5px 5px 10px #9abfe6;
  -o-box-shadow: -5px 5px 10px #9abfe6;
  box-shadow: -5px 5px 10px #9abfe6;
  background: #1c4480;
  padding: 10px;
  text-align: center;
  width: 400px;
  clear: both;
  font-size: 15px;
  color: #fff;
  border: solid 2px #9abfe6;
  z-index: 5; }
#post .clear_data, #post .compact_post {
  font-size: 20px;
  line-height: 32px;
  margin: 0 10px 0 0;
  cursor: pointer; }

.post-column {
  margin-top: 10px;
  cursor: pointer; }

.post-column:hover {
  background-color: #999; }
